
.dokuwiki div.plugin__displayplugin
{
}

.dokuwiki div.plugin__displayplugin h1
{
    margin-bottom: 0 !important;
}

.dokuwiki div.plugin__displayplugin div.plugin__displayplugin_header h1,
.dokuwiki div.plugin__displayplugin div.plugin__displayplugin_header h2,
.dokuwiki div.plugin__displayplugin div.plugin__displayplugin_header h3,
.dokuwiki div.plugin__displayplugin div.plugin__displayplugin_header h4,
.dokuwiki div.plugin__displayplugin div.plugin__displayplugin_header h5,
.dokuwiki div.plugin__displayplugin div.plugin__displayplugin_header h6
{
    margin-bottom: 0 !important;
}

.dokuwiki div.plugin__displayplugin p.plugin__displayplugin_tight
{
    margin-bottom: 0 !important;
}
